body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  color: rgba(0, 0, 0, 0.87)
}

/* AWS-AMPLIFY */
.amplify-form-section, .amplify-error-section {
  width: 300px !important;
}

.amplify-section-header {
  background-color: #1b1c1d !important
}

.amplify-button:hover {
  background-color: rgb(204, 204, 204) !important
}

.amplify-error-section {
  margin: auto;
}

.amplify-section-footer {
  visibility: hidden;
}

.amplify-form-container, .amplify-form-section {
  height: 208px;
}

/* SEMANTIC UI */

.ui.accordion:not(.styled) .accordion .title~.content:not(.ui), .ui.accordion:not(.styled) .title~.content:not(.ui) {
  padding-top: 0
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
  color: rgba(0,0,0,.55);
}

.ui.selection.list .list>.item, .ui.selection.list>.item {
  color: rgba(0,0,0,.6);
}

/* DAY-PICKER-INPUT */
.DayPickerInput>input {
  padding: .5em 0em;
  margin-right: 1em;
  line-height: 1.21428571em;
  background: #fff;
  color: rgba(0,0,0,.87);
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  box-shadow: none;
  text-align: center;
  display: block;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
}

/* KOMZ SPECIFIC */

.komz-no-margin {
  margin: 0 !important;
}
.komz-no-padding {
  padding: 0 !important;
}

/* LAYOUT */

.komz-exec-container {
  display: block;
  margin-left: auto!important;
  margin-right: auto!important;
  max-width: 420px !important;
}

.komz-navbar {
  margin-bottom: 0 !important;
}

.komz-navbar-menu-left-item {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.komz-navbar-menu-item-profile::before {
  background: none !important;
}

.komz-pushable {
  margin-top: 0px !important;
  height: 99999px !important;
}

.komz-sidebar {
  width: 320px !important;
}

.komz-sidebar-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.komz-sidebar-col-left {
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.komz-sidebar-col-right-list {
  margin-left: 10px !important;
}

.komz-sidebar-col-right-icon {
  font-size: 1em !important;
  margin: 0 0 12px 10px !important;
  vertical-align: bottom;
}

.komz-sidebar-col-right-message {
  padding: 1em !important;
}

/* EXECUTOR VIEW */

.komz-exec-status-bar {
  margin: 0 0 4px 0 !important;
  padding: 3px 10px !important;
  background-color: rgba(0, 0, 0, .1) !important;
}
.komz-exec-status-bar>.progress>.bar {
  min-width: 0 !important;
}
.komz-exec-status-bar>.label {
  height: 19px !important;
  vertical-align: bottom !important;
}

.komz-exec-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 160px ;
  /* border: 1px solid rgba(34,36,38,.15); */
  /* box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); */
  grid-template-areas: "col-left col-right";
}

.komz-exec-col-left {
  grid-area: col-left;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
  /* justify-items: center;
  align-items: center; */
  /* justify-items: center; */
  align-items: stretch;
}

.komz-exec-col-right {
  grid-area: col-right;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
  /* justify-items: center;
  align-items: center; */
  align-items: stretch;
}

.komz-exec-button-container {
  padding: 2px 5px;
  /* vertical-align: middle; */
  display: flex;
  align-items: center;
}

.komz-exec-button-container.komz-wt-aside {
  /* background-color: rgba(255, 179, 99, 0.8); */
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.komz-exec-button-container.komz-wt-rest {
  background-color: rgba(247, 239, 129, 0.8) !important;
}
.komz-exec-button-container.komz-wt-negative {
  background-color: rgba(252, 120, 113, 0.8) !important;
}
.komz-exec-button-container.komz-wt-main {
  background-color: rgba(191, 221, 126, 0.8) !important;
}
.komz-exec-button-container.komz-wt-aux {
  background-color: rgba(102, 158, 214, 0.8) !important;
}

.komz-exec-button {
  padding: 4px !important;
  /* background-color: #4e4d4d !important; */
  background-color: white !important;
  color: black !important;
  border: 1px solid !important;
}

.komz-wt-aside>.komz-exec-button.active {
  /* background-color: rgba(255, 179, 99, 1) !important; */
  background-color: rgba(0, 0, 0, 0.1) !important;
  padding: 3px !important;
  border: 2px solid !important;
}
.komz-wt-rest>.komz-exec-button.active {
  background-color: rgba(247, 239, 129, 1) !important;
  padding: 3px !important;
  border: 2px solid !important;
}
.komz-wt-negative>.komz-exec-button.active {
  background-color: rgba(252, 120, 113, 1) !important;
  padding: 3px !important;
  border: 2px solid !important;
}
.komz-wt-main>.komz-exec-button.active {
  background-color: rgba(191, 221, 126, 1) !important;
  padding: 3px !important;
  border: 2px solid !important;
}
.komz-wt-aux>.komz-exec-button.active {
  background-color: rgba(102, 158, 214, 1) !important;
  padding: 3px !important;
  border: 2px solid !important;
}
.komz-wt-aside {
  /* background-color: rgba(255, 179, 99, 1) !important; */
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.komz-wt-rest {
  background-color: rgba(247, 239, 129, 1) !important;
}
.komz-wt-negative {
  background-color: rgba(252, 120, 113, 1) !important;
}
.komz-wt-main {
  background-color: rgba(191, 221, 126, 1) !important;
}
.komz-wt-aux {
  background-color: rgba(102, 158, 214, 1) !important;
}

.komz-wt-main-color {
  color: rgba(191, 221, 126, 1) !important;
}
